name: Debug Build

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            osname: Linux
          - os: macos-latest
            osname: macOS
          - os: windows-latest
            osname: Windows

    name: Build for ${{ matrix.osname }}
    permissions: write-all
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.13

      - name: Install dependencies
        run: pip install .

      - id: repo_name
        name: Get repository name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.event.repository.name }}

      - name: Build executable
        uses: Nuitka/Nuitka-Action@main
        with:
          mode: standalone
          script-name: src/${{ steps.repo_name.outputs.lowercase }}
          output-dir: build
          output-file: ${{ github.event.repository.name }}_${{ matrix.osname }}_Debug
          company-name: ${{ github.repository_owner }}
          product-name: ${{ github.event.repository.name }} (${{ github.workflow }} - ${{ github.sha }})
          file-description: ${{ github.workflow }} of ${{ github.event.repository.name }} for ${{ matrix.osname }} (commit ${{ github.sha }})
          file-version: 0.0.0.0
          product-version: 0.0.0.0
          copyright: "Copyright (c) 2026 ${{ github.repository_owner }}"
          include-package: rich._unicode_data

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Debug_${{ matrix.osname }}
          path: build/${{ steps.repo_name.outputs.lowercase }}.dist
          include-hidden-files: true
